/* These will make ALL images full-width/full-height */
img {
  width: 100% !important;
  height: 100vh !important;
  max-width: none !important;
}

/* This breaks Next.js Image */
* {
  min-height: 100vh;
}
